type: "MARKDOWN_NOTE"
folder: "5dff1a9e2bfe696c8d39"
title: "Types and Operators"
content: '''
  ## Types and Operators
  
'''
tags: []
isStarred: false
createdAt: "2017-04-07T23:07:51.433Z"
updatedAt: "2017-04-07T23:08:54.239Z"
