type: "MARKDOWN_NOTE"
folder: "5dff1a9e2bfe696c8d39"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2017-04-07T21:27:32.903Z"
updatedAt: "2017-04-07T21:27:32.903Z"
